/* body {
  margin: 0;
  font-family: 'DM Serif Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.login {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"], input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007BFF;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: inherit;
} */

/* Global styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Full width */
  height: 100%; /* Adjusted to 100% from 100vh */
  background-color: #f0f0f0;
  font-family: 'DM Serif Display', serif; /* Applied as the primary font for consistency */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset the box-sizing */
*, *::before, *::after {
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
  font-family: inherit; /* Inherits the font family from the body */
}

/* Login container styles */
.login {
  display: flex; /* Only needed if you want the login form itself to be a flex container */
  flex-direction: column; /* Needed if .login is a flex container */
  justify-content: center;
  align-items: center;
  width: 300px; /* Specific width for login container */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin: auto; /* Center in the viewport */
  margin-top: 100px; /* Adjust as needed for spacing from the top */
}

/* Heading styles */
h1 {
  margin-bottom: 20px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

/* Input styles */
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Submit button styles */
input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007BFF;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Code element styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
